

body {
	background-color: #eee;
}

h3 {
	color: #000;
	font-family: serif;
}

h4 {
	color: #000;
	font-family: verdana;
}

#btn-send {
	background-color: #3f94bf;
	color: #000;
}

#clock-des {
	border-style: solid;
	border-width: 1px;

}

#bloco {
	margin-top: 50px;
	border-style: dashed;
	border-color: #c04040;
}